---
import { CodeBlock } from "../components/CodeBlock";
import MainLayout from "../layout/MainLayout.astro";
import {listaalgo} from "../utils/lista"
import {listar2} from "../utils/lista"
import {listar3} from "../utils/lista"
// const ejemplo1 = `
// # API-SSL Port Enable
// /ip service set api-ssl port=8729 address=0.0.0.0/0 disabled=no
// # API-SSL Port Disable
// /ip service set api-ssl port=8729 address=0.0.0.0/0 disabled=yes
// `;
---

<MainLayout title="Open Book">
    <body
        class="bg-gray-900 text-white font-sans min-h-screen flex items-center justify-center"
    >
        <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 ">
            <!-- Contenido -->
            <!-- Header -->
            <!-- Título -->
            <div class="text-center mb-6">
                <h1 class="text-2xl lg:text-4xl font-bold text-orange-500">
                   PROTECCIONES AVANZADAS PARA MIKROTIK ROUTEROS
                </h1>
                <p class="text-gray-300 mt-4">
                   Refuerza la seguridad de tu red con configuraciones avanzadas de protección en MikroTik RouterOS. Aprende a implementar firewalls<br> inteligentes, filtrado de tráfico, protección contra escaneos, ataques DDoS y accesos no autorizados. Ideal para redes ISP/WISP que buscan blindar su infraestructura con prácticas profesionales y automatizadas.
                </p>
            </div>
        </div>
        <div class="bg-gray-800 rounded-lg shadow-lg p-6 mx-4 my-8">
            <!-- Contenido inicio -->

            <!-- Contenedor del formulario -->
            <div
                class="text-gray-950 shadow-2xl rounded-lg p-6 w-full ring-2 ring-blue-500"
            >
                <!-- Gráfico (Placeholder para el esquema) -->

                <!-- Tabla del formulario -->
                <div class="overflow-x-auto rounded-t-lg">
                    <table
                        class="table-auto w-full border-spacing-2 border-slate-600"
                    >
                        <thead>
                            <tr class="bg-gray-700 text-gray-200">
                                <th class="border-slate-700 p-2 border"
                                    >Mikrotik Port Service</th
                                >
                                <th class="border-slate-700 p-2 border"
                                    >Description</th
                                >
                            </tr>
                        </thead>
                        <tbody>
                            {
                                listaalgo.map((item, _) => {
                                    return (
                                        <tr class="text-gray-800">
                                            <td class="p-2 border border-slate-700 ">
                                                <p class={`text-sm lg:text-3xl font-bold ${item.bc == 1  ?"text-orange-500 " : "text-red-500 "} justify-center`}>
                                                    {item.title}
                                                </p>
                                            </td>
                                            <td class=" border-slate-700 p-2 border pl-4">
                                                <p class="text-gray-400 mt-4 ">
                                                    {item.description}
                                                    <br />
                                                    <section>                                                        
                                                        <CodeBlock
                                                            client:load
                                                            code={item.code}
                                                            language="javascript"
                                                        />
                                                    </section>
                                                </p>
                                            </td>
                                        </tr>
                                    );
                                })
                            }
                        </tbody>
                        <thead>
                            <tr class="bg-gray-700 text-gray-200">
                                <th class="border-slate-700 p-2 border"
                                    >Advanced Router Security</th
                                >
                                <th class="border-slate-700 p-2 border"
                                    >Description</th
                                >
                            </tr>
                        </thead>
                        <tbody>
                            {
                                listar2.map((item, _) => {
                                    return (
                                        <tr class="text-gray-800">
                                            <td class="p-2 border border-slate-700 ">
                                                <p class={`text-sm lg:text-3xl font-bold ${item.bc == 1  ?"text-orange-500 " : "text-red-500 "} justify-center`}>
                                                    {item.title}
                                                </p>
                                            </td>
                                            <td class=" border-slate-700 p-2 border pl-4">
                                                <p class="text-gray-400 mt-4 ">
                                                    {item.description}
                                                    <br />
                                                    <section>                                                        
                                                        <CodeBlock
                                                            client:load
                                                            code={item.code}
                                                            language="javascript"
                                                        />
                                                    </section>
                                                </p>
                                            </td>
                                        </tr>
                                    );
                                })
                            }
                        </tbody>
                        <thead>
                            <tr class="bg-gray-700 text-gray-200">
                                <th class="border-slate-700 p-2 border"
                                    >Advanced Router Security</th
                                >
                                <th class="border-slate-700 p-2 border"
                                    >Description</th
                                >
                            </tr>
                        </thead>
                        <tbody>
                            {
                                listar3.map((item, _) => {
                                    return (
                                        <tr class="text-gray-800">
                                            <td class="p-2 border border-slate-700 ">
                                                <p class={`text-sm lg:text-2xl font-bold ${item.bc == 1  ?"text-orange-500 " : "text-red-500 "} justify-center`}>
                                                    {item.title}
                                                </p>
                                            </td>
                                            <td class=" border-slate-700 p-2 border pl-4">
                                                <p class="text-gray-400 mt-4 ">
                                                    {item.description}
                                                    <br />
                                                    <section>                                                        
                                                        <CodeBlock
                                                            client:load
                                                            code={item.code}
                                                            language="javascript"
                                                        />
                                                    </section>
                                                </p>
                                            </td>
                                        </tr>
                                    );
                                })
                            }
                        </tbody>
                    </table>
                </div>

                <!-- Tablas secuenciales -->
            </div>

            <!-- Gestión de Dominios -->

            <!-- Contenido Fin -->
        </div>

        <!-- Contenido Fin Aqui para abajo es otro codigo q u se borrara -->
    </body>
</MainLayout>
