---
import { images } from "../assets";
import Button from "../components/Button.astro";
import Icon from "../components/Icon.astro";
import MainLayout from "../layout/MainLayout.astro";
import { toolsSections, type Tool, type ToolsSection } from "../utils/manu";
import { nameApp } from "../utils/constants";
import { getAuthData } from "../utils/auth";

// Obtener los datos de la sesi칩n y suscripci칩n
const { subscription, shouldSignOut } = await getAuthData(
  Astro.request,
);

// Si necesita cerrar sesi칩n, redirigir a logout
if (shouldSignOut) {
  return Astro.redirect("/logout?reason=expired");
}
---

<MainLayout title={nameApp} class="px-6">
  <div class="flex flex-col gap-y-16">
    <div class="mx-0">
      <div
        class={`grid grid-cols-1 ${
          !subscription || (subscription && subscription.status !== "active")
            ? "lg:grid-cols-3 "
            : "lg:grid-cols-2"
        } gap-y-6 lg:gap-x-6 mt-9`}
      >
        <div
          class={`bg-[#191919] rounded-2xl py-10 px-8 col-span-2 bg-[url(${images.banner})] bg-cover bg-[-30px] bg-no-repeat`}
        >
          <div class="flex flex-col justify-center h-full gap-y-4">
            <!-- modo Modo Tables y Pantallas mas Grande -->
            <div class="hidden md:block">
              <h1 class="text-[#ffffff] text-6xl 2xl:text-x2 font-bold">
                <span
                  class="text-yellow-400 text-6xl 2xl:text-7xl font-bold animate-color-change"
                >
                  Configura R치pido y F치cil
                </span>
                Con Nuestras Herramientas Generadoras
              </h1>
              <span class="text-[#ffffff] text-2xl font-semibold">
                Creado para el sistema operativo Router<span
                  class="animate-ping absolute text-4xl font-semibold"
                >
                  MikroTik
                </span>
              </span>
            </div>
            <!-- modo Celular -->
            <div class="block md:hidden">
              <h1 class="text-[#ffffff] text-4xl 2xl:text-xs font-bold">
                <span
                  class="text-yellow-400 text-6xl 2xl:text-7xl font-bold animate-color-change"
                >
                  Configura R치pido y F치cil
                </span>
                Con Nuestras Herramientas Generadoras
              </h1>

              <span class="text-[#ffffff] text-lg font-semibold">
                Creado para el sistema operativo Router <br /><span
                  class="animate-ping absolute text-4xl font-semibold flex items-center justify-center"
                >
                  MikroTik
                </span>
              </span>
            </div>
          </div>
        </div>

        {
          !subscription ||
          (subscription && subscription.status !== "active") ? (
            <div class="bg-white p-8 border-[1px] border-[#cccccc] border-solid rounded-2xl">
              <div class="flex flex-col gap-y-4">
                <div class="flex flex-col">
                  <span class="text-[#191919] text-base font-normal">
                    Desde
                  </span>
                  <div class="flex flex-row flex-wrap items-end">
                    <span class="text-[#191919] text-3xl font-semibold">
                      S/ 16.50
                    </span>
                    <div class="flex items-end text-inherit">
                      <span class="text-[#191919] text-base font-normal">
                        /mes
                      </span>
                    </div>
                  </div>
                  <span class="text-[#707070] text-base font-normal">
                    Cancela la suscripci칩n en cualquier momento.
                  </span>
                </div>

                <div class="flex flex-col gap-y-2">
                  <div class="flex flex-1 flex-row flex-nowrap gap-4">
                    <Icon name="download" size={22} />
                    <span class="text-[#191919] text-base font-normal">
                      Descargas ilimitadas
                    </span>
                  </div>

                  <div class="flex flex-1 flex-row flex-nowrap gap-4">
                    <Icon name="premium" size={22} />
                    <span class="text-[#191919] text-base font-normal">
                      20+ millones de recursos premium
                    </span>
                  </div>

                  <div class="flex flex-1 flex-row flex-nowrap gap-4">
                    <Icon name="check-badge" size={22} />
                    <span class="text-[#191919] text-base font-normal">
                      Licencia comercial de por vida
                    </span>
                  </div>
                </div>

                <Button
                  class="text-white px-4 rounded-md transition ease-in-out delay-150 bg-red-600 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"
                  variant="primary"
                  as="a"
                  href="/sign-in"
                >
                  <span>Suscr칤bete</span>
                </Button>
              </div>
            </div>
          ) : null
        }
      </div>
    </div>

    <div class="mt-4">
      <h1 class="text-2xl font-bold text-red-500 mb-4">
        Encuentra Script para Mikrotik RouterOS
      </h1>
      <ul class="list-disc pl-5 mb-8">
        <button
          class="text-white px-4 rounded-md transition ease-in-out delay-150 bg-slate-800 hover:-translate-y-1 hover:scale-110 hover:bg-red-500 duration-300"
        >
          <a href="mikrotik"> Base de datos de script MikroTik RouterOS </a>
        </button>
      </ul>
      <div class="border-t-2 border-gray-700 my-4 mt-10"></div>

      {
        toolsSections.map((section: ToolsSection) => (
          <div>
            <h2 class={`${section.color} mb-4 text-2xl font-bold`}>
              {section.title}
            </h2>
            <div class="text-gray-950 shadow-2xl rounded-lg p-6 w-full ring-2 ring-blue-500">
              <div class="bg-slate-800 p-4 shadow-md rounded-lg">
                <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4">
                  {section.tools.map((tool: Tool) => (
                    <li>
                      <button class="text-white px-4 pr-8 rounded-md transition ease-in-out delay-150 bg-slate-800 hover:-translate-y-1 hover:scale-110 hover:bg-blue-500 duration-300">
                        <a href={tool.href}>{tool.name}</a>
                      </button>
                      {!subscription ||
                      (subscription && subscription.status !== "active") ? (
                        <span class="text-gray-400 animate-pulse absolute">
                          游
                        </span>
                      ) : null}
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          </div>
        ))
      }
    </div>

    <div class="pt-20 pb-32">
      <div class="flex items-center flex-col gap-y-10">
        <p class="text-gray-300 font-semibold text-xl animate-pulse">
          Tu Aliado en Redes, Herramienta de Alto Rendimiento
        </p>
        <div
          class="flex flex-row flex-wrap list-none m-0 p-0 items-center justify-items-center gap-x-7"
        >
          <div class="w-32 h-2 md:w-3/6 md:h-2 mx-auto">
            <img
              src={images.Mikrotik}
              alt="Routing Diagram"
              class="rounded-lg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>

<style>
  @keyframes color-change {
    0%,
    100% {
      color: #ef4444;
    }
    50% {
      color: #3b82f6;
    }
  }
  .animate-color-change {
    animation: color-change 3s infinite;
  }
</style>
